# Ignore Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
Debug/
Release/
build/
out/
*.obj
*.o
*.idb
*.pdb
*.ipch

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Logs
*.log

# QNX specific
qnx_proj2/
*.map
*.sym
*.dump

# Compiler temp
*.d
